@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}
body {
    background-image: url(/static/media/index/background.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: center;
    background-position-x: center;
}
/*.banner-image {
    background-image: url(/static/media/index/background.png);
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    text-align: center;
}*/
.navbar-custom {
    background-color: rgba(0, 0, 0, 0.4);
}
div.container-menu, .menu {
    display: flex;
    justify-content: center;
    text-align: center;
}
.nav-item {
    margin-left: 20px;
    margin-right: 20px;
}
.nav-link.text-white:hover {
    background-color: rgb(161, 1, 1);
    border-radius: 10px;
}
.active {
    font-weight: bold;
    border-bottom: 3px solid rgb(131, 1, 1);
}
.fume {
    background-color: rgba(0, 0, 0, 0.4);
}
.login-box {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}
.form-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 4rem;
    background-color: rgba(0, 0, 0, 0.815);
    width: 400px;
    height: auto;
    border-radius: 20px;
    padding: 30px;
}
.form-box form {
    color: white;
    display: flex;
    flex-direction: column;
    width: 100%;
}
.form-box label {
    font-weight: bold;
}
.form-box input {
    margin-top: 15px;
    padding: 5px;
}
.checkbox {
    justify-content: center;
    align-items: center;
    margin: 3px;
    font-size: 12px;
}
.form-box button {
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 10px;
    border-color: white;
    background-color: rgb(85, 0, 0);
    color: white;
}
.logo-title p {
    font-size: 30px;
    font-weight: bold;
    color: white;
    padding: 10px;
    border-radius: 15px;
    background-color: rgb(46, 3, 3);
}
.flash {
    color: black;
    background-color: yellow;
    width: 100%;
    padding: 5px;
    font-size: small;
    border-bottom: 10px;
    border-radius: 10px;
}
@media (max-width: 768px) {
    body {
        background-image: url(/static/media/index/background-768px.png);
    }
    .nav-link.text-white {
        font-size: small;
    }
    .form-box {
        margin-top: 0;
        width: 80%;
        height: auto;
    }
    .form-box a:hover {
        color: red;
    }
    .logo-title p {
        font-size: 20px;
        font-weight: bold;
        color: white;
        padding: 10px;
        border-radius: 15px;
        background-color: rgb(46, 3, 3);
    }
}