<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/static/css/detalhes.css" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"/>
    <title>IBVG - Painel Administrativo - Excluir Membro</title>
</head>
<body>
    <div class="header">
        <div class="container container-header">
            <div class="logo">
                <a href="/home"><img class="img" src="/static/media/painel/logo.png" alt=""></a>
            </div>
            <div class="title">
                <a href="/painel-administrativo">
                    <p>Painel Administrativo</p>
                </a>
            </div>
            <div class="button">
                <div class="btn-group">
                    <button type="button" class="btn btn-light dropdown-toggle button-top btn-sm" data-bs-toggle="dropdown" aria-expanded="false">
                        {{ ((current_user.name).strip().split(' ')[0]).title() }}
                    </button>
                    <ul class="dropdown-menu dropdown-menu-end dropdown-menu-lg-start">
                        <li><a class="dropdown-item p-2" href="/painel">Painel do Membro</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item p-2" href="/logout">Sair</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="voltar">
        <div class="container-voltar">
            <a href="/painel-administrativo/lista-de-membros">
                <button class="voltar_button">Voltar</button>
            </a>
        </div>
    </div>
    <div class="meusdados">
        <div class="container dados">
            <div class="data-title">
                <p>{{ user_data.name.title() }}</p>
            </div>
            <div class="membro">
                <div class="item-group">
                    <div class="item nome">
                        <label class="key" for="nome">Nome: </label>
                        <p class="value" id="nome">{{ user_data.name.title() }}</p>
                    </div>
                    <div class="item email">
                        <label class="key" for="email">Email: </label>
                        <p class="value" id="email">{{ user_data.email }}</p>
                    </div>
                    <div class="item sexo">
                        <label class="key" for="sexo">Sexo: </label>
                        <p class="value" id="sexo">{{ user_data.gender }}</p>
                    </div>
                    <div class="item nascimento">
                        <label class="key" for="nascimento">Data de Nascimento: </label>
                        <p class="value" id="nascimento">{{ user_data.birth }}</p>
                    </div>
                </div>
                <div class="item-group">
                    <div class="item cep">
                        <label class="key" for="cep">CEP: </label>
                        <p class="value" id="cep">{{ user_data.cep }}</p>
                    </div>
                    <div class="item endereco">
                        <label class="key" for="endereco">Endereço: </label>
                        <p class="value" id="endereco">{{ user_data.address.title() }}</p>
                    </div>
                    <div class="item telefone">
                        <label class="key" for="telefone">Celular: </label>
                        <p class="value" id="telefone">{{ user_data.tel }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="meusdados">
        <div class="container dados">
            <div class="data-title">
                <p>Dízimos</p>
            </div>
            <table class="table table-sm">
                <thead>
                    <tr>
                        <th scope="col">Data</th>
                        <th scope="col">Valor</th>
                    </tr>
                </thead>
                <tbody>
                    {% if tithe_list_data[0] %}
                    {% for linha in tithe_list_data %}
                    <tr>
                        <td>{{ linha.tithe_date }}</td>
                        <td>{{ (linha.value) }}</td>
                    </tr>
                    {% endfor %}
                    {% else %}
                    <tr>
                        <td colspan="2">Não há registro de dízimo a ser mostrado.</td>
                    </tr>
                    {% endif %}
                </tbody>
            </table>
        </div>
    </div>
    <div class="rodape">
        <div class="redes-sociais">
            <div class="container h-100">
                <a href="https://www.instagram.com/ibvg.10/" target="_blank" rel="noopener noreferrer">
                    <img class="insta-logo" src="/static/media/index/instagram.png" alt="">
                </a>
            </div>
        </div>
        <div class="rodape-divisor">
            <div class="rodape-text">
                <p class="rodape-text1">Desenvolvimento e Design:</p>
                <p class="rodape-text2">Porto Solutions &copy;</p>
                <p class="rodape-text1">(22) 999248349</p>
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>