<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/static/css/painel-administrativo.css" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"/>
    <title>Painel Administrativo - Igreja Batista Village Guaxindiba</title>
</head>
<body>
    <div class="header">
        <div class="container container-header">
            <div class="logo">
                <a href="/home"><img class="img" src="/static/media/painel/logo.png" alt=""></a>
            </div>
            <div class="title">
                <p>Painel Administrativo</p>
            </div>
            <div class="button">
                <div class="btn-group">
                    <button type="button" class="btn btn-light dropdown-toggle button-top btn-sm" data-bs-toggle="dropdown" aria-expanded="false">
                        {{ ((current_user.name).strip().split(' ')[0]).title() }}
                    </button>
                    <ul class="dropdown-menu dropdown-menu-end dropdown-menu-lg-start">
                        <li><a class="dropdown-item p-2" href="/painel">Painel do Membro</a></li>
                        {% if current_user.is_admin == True %}
                        <li><a class="dropdown-item p-2" href="/painel-administrativo/configuracoes">Configurações</a></li>
                        {% endif %}
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item p-2" href="/logout">Sair</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="meusdados">
        <div class="container dados">
            <div class="saldo">
                <div class="saldomes">
                    <label for="valor">Saldo do Mês</label>
                    <p name="valor">{{ period_balance }}</p>
                </div>
                <div class="saldototal">
                    <label for="valor">Total em Caixa</label>
                    <p name="valor">{{ total_balance }}</p>
                </div>
            </div>
        </div>
    </div>
    <!-- Tesouraria -->
    <div class="meusdados">
        <div class="container dados">
            {% set message = get_flashed_messages()[0] %}
            {% if message %}
            <div class="alert">{{ message }}</div>
            {% endif %}
            <div class="data-title">
                <p>Tesouraria</p>
            </div>
            {% if current_user.is_treasurer %}
            <div class="adm-buttons">
                <a href="/painel-administrativo/entradas">
                    <button>Registrar Entradas</button>
                </a>
            </div>
            <div class="adm-buttons">
                <a href="/painel-administrativo/saidas">
                    <button>Registrar Saídas</button>
                </a>
            </div>
            {% endif %}
            <div class="adm-buttons">
                <a href="/painel-administrativo/historico-de-dizimos">
                    <button>Histórico de Dízimos</button>
                </a>
            </div>
            <div class="adm-buttons">
                <a href="/painel-administrativo/historico-de-ofertas">
                    <button>Histórico de Ofertas</button>
                </a>
            </div>
            <div class="adm-buttons">
                <a href="/painel-administrativo/historico-de-despesas">
                    <button>Histórico de Despesas</button>
                </a>
            </div>
            <div class="adm-buttons">
                <a href="/painel-administrativo/relatorios-financeiros">
                    <button>Relatórios Financeiros</button>
                </a>
            </div>
        </div>
    </div>
    <!-- Rol de Membros -->
    <div class="meusdados">
        <div class="container dados">
            <div class="data-title">
                <p>Rol de Membros</p>
            </div>
            <div class="adm-buttons">
                <a href="/painel-administrativo/lista-de-membros">
                    <button>Lista de Membros</button>
                </a>
            </div>
            {% if current_user.is_secretary %}
            <div class="adm-buttons">
                <a href="/painel-administrativo/lista-de-espera">
                    <button>Aguardando Aprovação <span class="waiting">{{ waiting_list_size }}</span></button>
                </a>
            </div>
            <div class="adm-buttons">
                <a href="/painel-administrativo/adicionar-membro">
                    <button>Adicionar</button>
                </a>
            </div>
            <div class="adm-buttons">
                <a href="/painel-administrativo/alterar-cadastro">
                    <button>Alterar Dados</button>
                </a>
            </div>
            <div class="adm-buttons">
                <a href="/painel-administrativo/excluir-membro">
                    <button>Excluir</button>
                </a>
            </div>
            {% endif %}
        </div>
    </div>
    {% if current_user.is_admin %}
    <div class="meusdados">
        <div class="container dados">
            <div class="data-title">
                <p>Funções Administrativas</p>
            </div>
            <div class="adm-buttons">
                <a href="/painel-administrativo/administradores">
                    <button>Administradores</button>
                </a>
            </div>
            <div class="adm-buttons">
                <a href="/painel-administrativo/tesoureiros">
                    <button>Tesoureiros</button>
                </a>
            </div>
            <div class="adm-buttons">
                <a href="/painel-administrativo/secretarios">
                    <button>Secretarios</button>
                </a>
            </div>
            <div class="adm-buttons">
                <a href="/painel-administrativo/conselho-fiscal">
                    <button>Conselho Fiscal</button>
                </a>
            </div>
            <div class="adm-buttons">
                <a href="/painel-administrativo/designers">
                    <button>Designers</button>
                </a>
            </div>
        </div>
    </div>
    {% endif %}
    <div class="rodape">
        <div class="redes-sociais">
            <div class="container h-100">
                <a href="https://www.instagram.com/ibvg.10/" target="_blank" rel="noopener noreferrer">
                    <img class="insta-logo" src="/static/media/index/instagram.png" alt="">
                </a>
            </div>
        </div>
        <div class="rodape-divisor">
            <div class="rodape-text">
                <p class="rodape-text1">Desenvolvimento e Design:</p>
                <p class="rodape-text2">Porto Solutions &copy;</p>
                <p class="rodape-text1">(22) 999248349</p>
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>