<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/static/css/secretarios.css" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"/>
    <title>IBVG - Painel Administrativo - Secretários</title>
</head>
<body>
    <div class="header">
        <div class="container container-header">
            <div class="logo">
                <a href="/home"><img class="img" src="/static/media/painel/logo.png" alt=""></a>
            </div>
            <div class="title">
                <a href="/painel-administrativo">
                    <p>Painel Administrativo</p>
                </a>
            </div>
            <div class="button">
                <div class="btn-group">
                    <button type="button" class="btn btn-light dropdown-toggle button-top btn-sm" data-bs-toggle="dropdown" aria-expanded="false">
                        {{ ((current_user.name).strip().split(' ')[0]).title() }}
                    </button>
                    <ul class="dropdown-menu dropdown-menu-end dropdown-menu-lg-start">
                        <li><a class="dropdown-item p-2" href="/painel">Painel do Membro</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item p-2" href="/logout">Sair</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="voltar">
        <div class="container-voltar">
            <a href="/painel-administrativo">
                <button class="voltar_button">Voltar</button>
            </a>
        </div>
    </div>
    <div class="meusdados">
        <div class="container dados">
            {% set message = get_flashed_messages()[0] %}
            {% if message %}
            <div class="alert">{{ message }}</div>
            {% endif %}
            
            <div class="data-title">
                <p>Secretários</p>
            </div>
            
            <table class="table">
                {% if user_list | length > 0 %}
                <thead>
                    <tr>
                        <th scope="col">Nome</th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    {% for user in user_list %}
                    <tr>
                        <td>{{ user.name.title() }}</td>
                        <td>
                            <button class="remove-button" type="button" data-bs-toggle="modal" data-bs-target="#remover{{ user.id }}">Excluir</button>
                            <div class="modal fade" id="remover{{ user.id }}" tabindex="-1" aria-labelledby="exampleModalLabel{{ user.id }}" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLabel{{ user.id }}">Tem certeza?</h5>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                            Tem certeza que deseja remover esse secretário?
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                                            <a href="/painel-administrativo/secretarios?remove_id={{ user.id }}">
                                                <button type="button" class="btn btn-danger">Confirmar</button>  
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
                {% else %}
                <thead>
                    <tr>
                        <th colspan="2">Não há secretário cadastrado</th>
                    </tr>
                </thead>
                {% endif %}
            </table>
            <div class="add-adm">
                <div class="add-button">
                    <button class="add-button-bt" id="addAdmButton">Adicionar Secretário</button>
                </div>
            </div>
        </div>
    </div>
    <div class="rodape">
        <div class="redes-sociais">
            <div class="container h-100">
                <a href="https://www.instagram.com/ibvg.10/" target="_blank" rel="noopener noreferrer">
                    <img class="insta-logo" src="/static/media/index/instagram.png" alt="">
                </a>
            </div>
        </div>
        <div class="rodape-divisor">
            <div class="rodape-text">
                <p class="rodape-text1">Desenvolvimento e Design:</p>
                <p class="rodape-text2">Porto Solutions &copy;</p>
                <p class="rodape-text1">(22) 999248349</p>
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
    <script type="text/javascript" src="/static/js/jquery-3.6.0.min.js"></script>
    <script type="text/javascript" src="/static/js/secretarios.js"></script>
</body>
</html>